<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">
  <targets async="true">
    <target xsi:type="Null" name="blackhole" formatMessage="false"  />
    <target name="yaml" xsi:type="File"
            fileName="${specialfolder:folder=CommonApplicationData}/PharmacyDataInterface/Logs/app-migrator-v${gdc:item=majorVersion}.siflog"
            layout="-&#13;&#10;  timestamp: ${longdate}&#13;&#10;  level: ${level:uppercase=true}&#13;&#10;  logger: ${logger}&#13;&#10;  scope: ${replace-newlines:${ndlc}}&#13;&#10;  message: |-&#13;&#10;    ${replace:searchFor=&#10;:replaceWith=&#13;&#10;    :inner=${replace:searchFor=&#13;&#10;:replaceWith=&#10;:inner=${message}}}${onexception:inner=&#13;&#10;  exception\: |-&#13;&#10;    ${replace:searchFor=&#10;:replaceWith=&#13;&#10;    :inner=${replace:searchFor=&#13;&#10;:replaceWith=&#10;:inner=${exception:format=toString}}}}"
            concurrentWrites="false" keepFileOpen="true" openFileCacheTimeout="15"
            archiveFileName="${specialfolder:folder=CommonApplicationData}/PharmacyDataInterface/Logs/Archives/app-migrator-v${gdc:item=majorVersion}-{#}.siflog.zip"
            enableArchiveFileCompression="true"
            archiveEvery="Day" maxArchiveFiles="60" archiveNumbering="Sequence" />
  </targets>
  <rules>
    <logger name="*" writeTo="yaml" minlevel="Trace"/>
  </rules>
</nlog>